Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*

refactor: :children_crossing: only index public posts
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/backend/src/services/note/create.ts
Labels: packages/backend

fix: :ambulance: proper conditional
  packages/backend/src/services/note/create.ts
Labels: packages/backend

refactor: :coffin: remove old woodpecker scripts
  .woodpecker/commit.yml
  .woodpecker/dockerHubRelease.yml
  .woodpecker/dockerHubReleaseCandidate.yml
  .woodpecker/dockerHubTag.yml
  .woodpecker/testDocker.yml
Labels: none

caption → description
  locales/en-US.yml
Labels: none

fix: tini location
  Dockerfile
Labels: none

Calckey → Firefish
  docs/migrate.md
Labels: none

fix: :children_crossing: make importing emoji packs clearer
  locales/en-US.yml
  packages/backend/src/server/api/endpoints/admin/emoji/import-zip.ts
  packages/client/src/pages/admin/emojis.vue
Labels: packages/backend, packages/client

dev6
  package.json
Labels: none

chore: :art: format
  packages/client/src/pages/admin/emojis.vue
Labels: packages/client

chore: Translated using Weblate (Spanish)
  locales/es-ES.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

feat: fetch total posts on update and create
  packages/backend/src/remote/activitypub/models/person.ts
Labels: packages/backend

fix: updatePerson's Followings.update call not working if no sharedInbox
  packages/backend/src/remote/activitypub/models/person.ts
Labels: packages/backend

fix: Followings.update call failing in updatePerson
  packages/backend/src/remote/activitypub/models/person.ts
Labels: packages/backend

feat: Delete emoji images on emoji deletion
  packages/backend/src/server/api/endpoints/admin/emoji/delete-bulk.ts
  packages/backend/src/server/api/endpoints/admin/emoji/delete.ts
Labels: packages/backend

fix: :bug: double comma
  packages/client/src/pages/admin/index.vue
  packages/client/src/pages/admin/overview.active-users.vue
  packages/client/src/pages/admin/overview.vue
  packages/client/src/pages/user/followers.vue
  packages/client/src/pages/user/following.vue
Labels: packages/client

feat: Fetch total posts of users on create/update
  packages/backend/src/remote/activitypub/models/person.ts
Labels: packages/backend

fix: :adhesive_bandage: add small and center to MFM tags list
  packages/client/src/scripts/mfm-tags.ts
Labels: packages/client

Add /kbin to commonNames
  packages/client/src/components/MkInstanceTicker.vue
Labels: packages/client

ci: Fix libc musl not found
  .gitlab-ci.yml
Labels: none

chore: Translated using Weblate (Catalan)
  locales/ca-ES.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: Translated using Weblate (Indonesian)
  locales/id-ID.yml
Labels: none

chore: Translated using Weblate (Japanese)
  locales/ja-JP.yml
Labels: none

chore: Translated using Weblate (Russian)
  locales/ru-RU.yml
Labels: none

chore: Translated using Weblate (Bulgarian (bul_BG))
  locales/bul_BG.yml
Labels: none

chore: codeberg → gitlab
  packages/backend/src/server/api/endpoints/latest-version.ts
Labels: packages/backend

Fix Dev Command and Add Remote Emoji Deletion
  packages/client/src/pages/admin/emojis.vue
  scripts/dev.js
Labels: packages/client

fix: remove typecheck of sensitivity slider
  packages/client/src/pages/admin/security.vue
Labels: packages/client

fix: NSFW Detection Slider, Dev Command, Remote Emoji Deletion
  packages/client/src/pages/admin/emojis.vue
  packages/client/src/pages/admin/security.vue
  scripts/dev.js
Labels: packages/client

Chore: Translate Integrations
  packages/backend/src/server/api/service/discord.ts
  packages/backend/src/server/api/service/github.ts
Labels: packages/backend

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (Japanese)
  locales/ja-JP.yml
Labels: none

Mastodon API: convert IDs in conversations
  packages/backend/src/server/api/mastodon/converters.ts
  packages/backend/src/server/api/mastodon/endpoints/timeline.ts
Labels: packages/backend

Add address bind config option
  .config/example.yml
  packages/backend/src/config/types.ts
  packages/backend/src/misc/fetch.ts
Labels: packages/backend

Fix report emails and modmail sanitization
  packages/backend/src/server/api/endpoints/admin/send-mod-mail.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
Labels: packages/backend

Fix tini path in Dockerfile
  Dockerfile
Labels: none

ci: add automatic updating for site container
  .github/workflows/registry-develop.yml
Labels: none

Validate before delivering to keep federation working on valid inboxes
  packages/backend/src/remote/activitypub/deliver-manager.ts
Labels: packages/backend
