Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (Russian)
  locales/ru-RU.yml
Labels: none

chore: Translated using Weblate (Korean)
  locales/ko-KR.yml
Labels: none

update stop words
  packages/backend/src/db/meilisearch.ts
Labels: packages/backend

chore: :art: format
  packages/backend/src/remote/activitypub/kernel/index.ts
  packages/client/src/pages/admin/index.vue
  packages/client/src/pages/admin/overview.active-users.vue
  packages/client/src/pages/admin/overview.vue
  packages/client/src/pages/user/followers.vue
  packages/client/src/pages/user/following.vue
Labels: packages/backend, packages/client

fix: :bug: caching wrong DNS entry when federating with an instance that cannot properly handle inbound IPv6 requests
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

clean up debug prints
  packages/backend/src/server/api/stream/index.ts
Labels: packages/backend

chore: Translated using Weblate (Indonesian)
  locales/id-ID.yml
Labels: none

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (Korean)
  locales/ko-KR.yml
Labels: none

Update Redis requirement in README
  README.md
Labels: none

chore: Translated using Weblate (Thai)
  locales/th-TH.yml
Labels: none

chore: :technologist: More recommended VSCode extensions
  .vscode/extensions.json
Labels: none

chore: :technologist: More recommended VSCode extensions
  .vscode/extensions.json
Labels: none

feat: post translation in Traditional Chinese
  packages/backend/package.json
  packages/backend/src/server/api/endpoints/notes/translate.ts
  pnpm-lock.yaml
Labels: packages/backend

chore: Translated using Weblate (Thai)
  locales/th-TH.yml
Labels: none

fix: remove native-utils from migration's dependencies
  packages/backend/native-utils/Cargo.lock
  packages/backend/native-utils/migration/Cargo.toml
  packages/backend/native-utils/migration/src/lib.rs
  packages/backend/native-utils/migration/src/m20230806_170616_fix_antenna_stream_ids.rs
Labels: packages/backend

Disable Logging of the Sonic Docker to prevent the container from getting insanely big log files
  docker-compose.yml
Labels: none

Revert "perf: :zap: delete transformedOptions key -> assign undefined with key literal"
  packages/backend/src/remote/activitypub/misc/ld-signature.ts
Labels: packages/backend

chore: :wrench: linting config
  packages/backend/native-utils/package.json
  packages/backend/package.json
  rome.json
Labels: packages/backend

chore: 🚨 lint megalodon
  packages/backend/package.json
  packages/megalodon/src/misskey.ts
  packages/megalodon/src/misskey/entities/GetAll.ts
  packages/megalodon/src/misskey/entities/announcement.ts
  packages/megalodon/src/misskey/entities/app.ts
  packages/megalodon/src/misskey/entities/blocking.ts
  packages/megalodon/src/misskey/entities/createdNote.ts
  packages/megalodon/src/misskey/entities/emoji.ts
  packages/megalodon/src/misskey/entities/favorite.ts
  packages/megalodon/src/misskey/entities/field.ts
  packages/megalodon/src/misskey/entities/file.ts
  packages/megalodon/src/misskey/entities/followRequest.ts
  packages/megalodon/src/misskey/entities/follower.ts
  packages/megalodon/src/misskey/entities/following.ts
  packages/megalodon/src/misskey/entities/hashtag.ts
  packages/megalodon/src/misskey/entities/list.ts
  packages/megalodon/src/misskey/entities/meta.ts
  packages/megalodon/src/misskey/entities/mute.ts
  packages/megalodon/src/misskey/entities/note.ts
  packages/megalodon/src/misskey/entities/notification.ts
  packages/megalodon/src/misskey/entities/poll.ts
  packages/megalodon/src/misskey/entities/reaction.ts
  packages/megalodon/src/misskey/entities/relation.ts
  packages/megalodon/src/misskey/entities/session.ts
  packages/megalodon/src/misskey/entities/state.ts
  packages/megalodon/src/misskey/entities/stats.ts
  packages/megalodon/src/misskey/entities/user.ts
  packages/megalodon/src/misskey/entities/userDetail.ts
  packages/megalodon/src/misskey/entities/userDetailMe.ts
  packages/megalodon/src/misskey/entities/userkey.ts
  rome.json
Labels: packages/backend, packages/megalodon

chore: :arrow_up: up deps (properly)
  package.json
  packages/backend/package.json
  packages/backend/src/misc/app-lock.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  pnpm-lock.yaml
Labels: packages/backend

fix: :recycle: Manifest (icons, name, orientation)
  packages/backend/assets/icons/192.png
  packages/backend/assets/icons/512.png
  packages/backend/assets/icons/maskable.png
  packages/backend/assets/icons/monochrome.png
  packages/backend/src/server/web/manifest.json
  packages/backend/src/server/web/manifest.ts
Labels: packages/backend

Merge branch 'feature/manifest-scope' into 'develop'
  packages/backend/src/server/web/manifest.json
Labels: packages/backend

dev8
  package.json
Labels: none

chore: :hammer: build greet js -> sh
  package.json
  scripts/build-greet.js
  scripts/build-greet.sh
Labels: none

chore: :art: script format
  scripts/build-greet.sh
Labels: none

refactor: :egg: new ansi art
  packages/backend/src/server/web/views/base.pug
  scripts/build-greet.sh
Labels: packages/backend

refactor: :egg: ansi art for master.ts
  packages/backend/src/boot/master.ts
Labels: packages/backend

fix: :bug: unlock undefined
  packages/backend/src/services/fetch-instance-metadata.ts
Labels: packages/backend

fix: :bug: more strange unlock calls
  packages/backend/src/remote/activitypub/kernel/announce/note.ts
  packages/backend/src/remote/activitypub/kernel/create/note.ts
  packages/backend/src/remote/activitypub/kernel/delete/note.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/services/chart/core.ts
Labels: packages/backend

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (Portuguese (Portugal))
  locales/pt-PT.yml
Labels: none

build: :recycle: Rome -> Biome
  .vscode/extensions.json
  biome.json
  package.json
  packages/backend/nsfw-model/model.json
  packages/backend/package.json
  packages/backend/src/global.d.ts
  packages/backend/src/services/chart/core.ts
  packages/backend/src/services/fetch-instance-metadata.ts
  packages/backend/src/services/note/create.ts
  packages/client/package.json
  packages/firefish-js/package.json
  packages/megalodon/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  rome.json
Labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/megalodon

chore: Translated using Weblate (Portuguese (Portugal))
  locales/pt-PT.yml
Labels: none

fix: :bug: natural PWA orientation
  packages/backend/src/server/web/manifest.json
Labels: packages/backend

dev9
  package.json
Labels: none

fix: :lipstick: Announcement padding/margins
  packages/client/src/components/MkAnnouncement.vue
  packages/client/src/pages/announcements.vue
Labels: packages/client
