Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

perf: :zap: seperate web and queue workers
  .config/example.yml
  packages/backend/src/boot/index.ts
  packages/backend/src/boot/master.ts
  packages/backend/src/boot/worker.ts
  packages/backend/src/config/load.ts
  packages/backend/src/config/types.ts
Labels: packages/backend

docs: :memo: merge request co-authored-by
  .gitlab/merge_request_templates/default.md
Labels: none

docs: :lock: robots.txt asset
  README.md
  custom/assets/robots.txt
  packages/backend/src/server/web/views/clip.pug
Labels: packages/backend

feat: :bookmark: 1.0.4-beta2
  CHANGELOG.md
  package.json
Labels: none

dev10
  package.json
Labels: none

fix: :ambulance: incorrect end tag
  packages/client/src/components/MkAnnouncement.vue
Labels: packages/client

fix: :bulb: biome still uses `rome-ignore`
  packages/backend/src/global.d.ts
  packages/backend/src/services/chart/core.ts
  packages/backend/src/services/note/create.ts
Labels: packages/backend

maskable icon
  packages/backend/assets/icons/maskable.png
  packages/backend/src/server/web/manifest.json
Labels: packages/backend

fix: :bug: smaller maskable icon
  packages/backend/assets/icons/maskable.png
Labels: packages/backend

fix: release redis locks
  packages/backend/src/misc/app-lock.ts
  packages/backend/src/remote/activitypub/kernel/announce/note.ts
  packages/backend/src/remote/activitypub/kernel/create/note.ts
  packages/backend/src/remote/activitypub/kernel/delete/note.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/services/chart/core.ts
  packages/backend/src/services/fetch-instance-metadata.ts
Labels: packages/backend

dev11
  package.json
Labels: none

artifacting
  packages/backend/assets/icons/maskable.png
Labels: packages/backend

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: :arrow_up: up photoswipe
  packages/client/package.json
  pnpm-lock.yaml
Labels: packages/client

fix: require credentials in the notes/translate endpoint
  docs/api-change.md
  packages/backend/src/server/api/endpoints/notes/translate.ts
Labels: packages/backend

chore: Translated using Weblate (Spanish)
  locales/es-ES.yml
Labels: none

Fix search button not visible in narrow viewport guest mode
  packages/client/src/ui/visitor/b.vue
Labels: packages/client

[mastodon-client] Correctly implement multiple callback URIs for OAuth, resolves #150
  packages/client/src/pages/auth.vue
Labels: packages/client

language for post translation & translate button
  locales/en-US.yml
  locales/ja-JP.yml
  packages/client/package.json
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSub.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/store.ts
  pnpm-lock.yaml
Labels: packages/client

chore: :art: format
  packages/backend/src/boot/index.ts
  packages/backend/src/boot/master.ts
  packages/client/src/ui/visitor/b.vue
Labels: packages/backend, packages/client

refactor: :recycle: Migrate auth.vue to composition API
  packages/client/src/pages/auth.vue
Labels: packages/client

if translation exists
  packages/client/src/components/MkNote.vue
Labels: packages/client

fix mfm import
  packages/client/src/components/MkNoteSub.vue
Labels: packages/client

feat: :sparkles: `indexable` User property
  locales/en-US.yml
  packages/backend/native-utils/migration/src/lib.rs
  packages/backend/native-utils/migration/src/m20230904_013244_is_indexable.rs
  packages/backend/native-utils/src/model/entity/user.rs
  packages/backend/native-utils/src/model/entity/user_profile.rs
  packages/backend/src/models/entities/user-profile.ts
  packages/backend/src/models/entities/user.ts
  packages/backend/src/models/repositories/user.ts
  packages/backend/src/models/schema/user.ts
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/remote/activitypub/renderer/index.ts
  packages/backend/src/remote/activitypub/renderer/person.ts
  packages/backend/src/remote/activitypub/type.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/services/note/create.ts
  packages/backend/test/e2e/users.ts
  packages/client/src/pages/settings/privacy.vue
Labels: packages/backend, packages/client

chore: update docs/MR template
  .gitlab/merge_request_templates/default.md
  CONTRIBUTING.md
Labels: none

fix: don't show translate button if signed out
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSub.vue
Labels: packages/client

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: add biome binaries to dev dependencies
  package.json
  pnpm-lock.yaml
Labels: none

fix (minor): noteId is not a number
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSub.vue
Labels: packages/client

dev12
  package.json
Labels: none

perf: :zap: Replace JSDOM with Happy DOM
  packages/backend/package.json
  packages/backend/src/mfm/to-html.ts
  packages/backend/src/services/fetch-instance-metadata.ts
  packages/backend/src/services/fetch-rel-me.ts
  pnpm-lock.yaml
Labels: packages/backend

fix: Use node 20.5 in Dockerfile
  Dockerfile
Labels: none

ci: fix container version to related to dockerfile
  .github/workflows/test.yml
Labels: none

fix: follow requests pagination looping bug https://astolfo.social/notes/9jeibgm1wyfk9oha
  packages/client/src/pages/follow-requests.vue
Labels: packages/client

make word mutes case insensitive (close #10724)
  packages/backend/src/misc/check-word-mute.ts
  packages/client/src/scripts/check-word-mute.ts
Labels: packages/backend, packages/client

use Node.js v20.5 for testing (should be reverted in the future) related commit: 91590b2e52b2a3acd7c21dadc5dda0f92d8907d8
  .gitlab-ci.yml
Labels: none

make `showTimelineReplies` `deviceAccount`
  packages/client/src/store.ts
Labels: packages/client

chore: Translated using Weblate (Catalan)
  locales/ca-ES.yml
Labels: none

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*
