Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (Ukrainian)
  locales/uk-UA.yml
Labels: none

fix: veiry url
  packages/backend/src/services/drive/upload-from-url.ts
Labels: packages/backend

fix: exclude localhost
  packages/backend/src/services/drive/upload-from-url.ts
Labels: packages/backend

fix: exclude ula and lla
  packages/backend/src/services/drive/upload-from-url.ts
Labels: packages/backend

refactor: remove regex
  packages/backend/src/misc/download-url.ts
  packages/backend/src/services/drive/upload-from-url.ts
Labels: packages/backend

fix: remove brackets
  packages/backend/src/services/drive/upload-from-url.ts
Labels: packages/backend

ci: update timeout on curl call
  .github/workflows/registry-develop.yml
Labels: none

fix: 🚑 thumbnail serving
  packages/backend/src/server/file/send-drive-file.ts
Labels: packages/backend

regard x.com as twitter in MkUrlPreview.vue
  packages/client/src/components/MkUrlPreview.vue
Labels: packages/client

fix: change character limits to allow for long instance domains
  packages/backend/migration/1692374635734-IncreaseHostCharLimit.js
  packages/backend/src/models/entities/abuse-user-report.ts
  packages/backend/src/models/entities/drive-file.ts
  packages/backend/src/models/entities/emoji.ts
  packages/backend/src/models/entities/following.ts
  packages/backend/src/models/entities/instance.ts
  packages/backend/src/models/entities/note.ts
  packages/backend/src/models/entities/poll.ts
  packages/backend/src/models/entities/user-profile.ts
  packages/backend/src/models/entities/user-publickey.ts
  packages/backend/src/models/entities/user.ts
Labels: packages/backend

note -> post
  locales/en-US.yml
Labels: none

chore: Translated using Weblate (Japanese)
  locales/ja-JP.yml
Labels: none

chore: Translated using Weblate (Japanese (Kansai))
  locales/ja-KS.yml
Labels: none

upgrade frontend deps
  packages/client/package.json
  pnpm-lock.yaml
Labels: packages/client

ci: increase timeout
  .github/workflows/registry-develop.yml
Labels: none

Fix local-only posts for timeline websocket stream
  packages/backend/src/services/note/create.ts
Labels: packages/backend

more intuitive option order
  packages/client/src/pages/settings/general.vue
Labels: packages/client

perf: :zap: delete transformedOptions key -> assign undefined with key literal
  packages/backend/src/remote/activitypub/misc/ld-signature.ts
Labels: packages/backend

Update MkInstanceTicker.vue
  packages/client/src/components/MkInstanceTicker.vue
Labels: packages/client

oops 🥴
  packages/client/src/components/MkInstanceTicker.vue
Labels: packages/client

chore: Translated using Weblate (Catalan)
  locales/ca-ES.yml
Labels: none

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: Translated using Weblate (Indonesian)
  locales/id-ID.yml
Labels: none

chore: Translated using Weblate (Japanese)
  locales/ja-JP.yml
Labels: none

chore: Translated using Weblate (Japanese (Kansai))
  locales/ja-KS.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

chore: Translated using Weblate (Bulgarian (bul_BG))
  locales/bul_BG.yml
Labels: none

fix: :pencil2: "can not" -> "cannot"
  CHANGELOG.md
  locales/en-US.yml
  packages/backend/src/server/api/endpoints/drive/folders/update.ts
  packages/backend/src/server/api/endpoints/i/pin.ts
  packages/backend/src/server/api/endpoints/messaging/messages.ts
  packages/backend/src/server/api/endpoints/messaging/messages/create.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/server/api/endpoints/users/groups/leave.ts
  packages/backend/src/server/api/endpoints/users/groups/pull.ts
  packages/backend/src/services/i/pin.ts
Labels: packages/backend

fix: :lock: cannot change note visibility
  packages/backend/src/server/api/endpoints/notes/edit.ts
Labels: packages/backend

fix: :bug: cannot quote own note
  packages/backend/src/server/api/endpoints/notes/edit.ts
Labels: packages/backend

Remove npm vscode extension from recommendations
  .vscode/extensions.json
Labels: none

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (Chinese (Simplified))
  locales/zh-CN.yml
Labels: none

chore: :art: format
  packages/backend/src/server/api/endpoints/notes/edit.ts
Labels: packages/backend

refactor: :recycle: types in AP kernel
  packages/backend/src/remote/activitypub/kernel/index.ts
Labels: packages/backend

fix: :bug: fix DNS lookup issue
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

Revert "fix: :bug: fix DNS lookup issue"
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*
