Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

chore: add await to 3 execa in dev.js
  scripts/dev.js
Labels: none

delete 10 posts at once on account deletion
  packages/backend/src/queue/processors/db/delete-account.ts
Labels: packages/backend

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (French)
  locales/fr-FR.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

chore: Translated using Weblate (Ukrainian)
  locales/uk-UA.yml
Labels: none

chore: Translated using Weblate (Vietnamese)
  locales/vi-VN.yml
Labels: none

fix: :bug: null host meilisearch
  packages/backend/src/db/meilisearch.ts
Labels: packages/backend

refactor: :recycle: better offline page
  packages/backend/src/server/web/boot.js
  packages/sw/src/sw.ts
Labels: packages/backend, packages/sw

chore: up pnpm to 8.6.11
  package.json
  pnpm-lock.yaml
Labels: none

chore: :arrow_up: up deps
  .gitignore
  package.json
  packages/backend/package.json
  packages/backend/src/server/api/endpoints/drive/files/caption-image.ts
  packages/client/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/client

chore: :art: format
  packages/backend/src/db/meilisearch.ts
  packages/backend/src/server/api/endpoints/drive/files/caption-image.ts
  packages/client/src/pages/about-firefish.vue
  packages/client/src/pages/announcements.vue
Labels: packages/backend, packages/client

MkMedia: fix floating "gif" badge
  packages/client/src/components/MkMedia.vue
Labels: packages/client

Add visual indicator when media lacks alt text
  packages/client/src/components/MkMedia.vue
Labels: packages/client

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

fix: :globe_with_meridians: i18n key for "confirm"
  locales/en-US.yml
  packages/client/src/scripts/get-user-menu.ts
Labels: packages/client

fix: :bug: offline html responsive viewport
  package.json
  packages/sw/src/sw.ts
Labels: packages/sw

rm: broken ci
  .github/workflows/lint.yml
Labels: none

fix: lockfile
  pnpm-lock.yaml
Labels: none

fix: re2 missing linux headers during build
  Dockerfile
Labels: none

fix: building re2 in Dockerfile
  Dockerfile
Labels: none

ci: 💚 linux-headers in CI testCommit
  .gitlab-ci.yml
Labels: none

upd: dockerfile container change
  Dockerfile
Labels: none

fix: config-manager not found
  Dockerfile
Labels: none

fix: typo of python
  Dockerfile
Labels: none

fix: pnpm install not working due to corepack missing
  Dockerfile
Labels: none

fix: ci not having wget/curl
  Dockerfile
Labels: none

fix: remove curl
  Dockerfile
Labels: none

fix: source pnpm
  Dockerfile
Labels: none

fix: change shell to bash
  Dockerfile
Labels: none

ci: 💚 use Debian Bookworm
  .gitlab-ci.yml
Labels: none

ci: 💚 source cargo env
  .gitlab-ci.yml
Labels: none

ci: change to node container
  Dockerfile
Labels: none

fix: install commands
  Dockerfile
Labels: none

fix: move rust into apt-get command
  Dockerfile
Labels: none

fix: rust, rust, rust
  Dockerfile
Labels: none

fix: cargo command not found
  Dockerfile
Labels: none

build: 🐋 move Docker image to (Debian)
  Dockerfile
Labels: none

build: 🐋 fix Dockerfile
  Dockerfile
Labels: none

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*
