Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*

fix stuff
  packages/backend/.swcrc
  packages/backend/package.json
  packages/firefish-js/package.json
  packages/sw/.swcrc
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/sw, packages/firefish-js

Update Local Timeline Icon
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/MkRenoteButton.vue
  packages/client/src/components/MkVisibility.vue
  packages/client/src/components/MkVisibilityPicker.vue
  packages/client/src/pages/admin/emojis.vue
Labels: packages/client

upd: change visitor page to match misskey's latest
  packages/client/src/components/MkVisitorDashboard.ActiveUsersChart.vue
  packages/client/src/components/MkVisitorDashboard.vue
  packages/client/src/pages/welcome.entrance.a.vue
Labels: packages/client

upd: make visitor match latest misskey version
  packages/client/src/ui/visitor.vue
  packages/client/src/ui/visitor/a.vue
  packages/client/src/ui/visitor/b.vue
  packages/client/src/ui/visitor/header.vue
  packages/client/src/ui/visitor/kanban.vue
Labels: packages/client

work on adding back the timeline to explore
  packages/client/src/pages/timeline.vue
  packages/client/src/router.ts
  packages/client/src/ui/visitor.vue
Labels: packages/client

Update README.md
  README.md
Labels: none
