Repository transfem-org/TransFish, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/client, packages/sw, packages/firefish-js, packages/firefish-js:test, packages/megalodon, packages/megalodon:test

chore: Translated using Weblate (Indonesian)
  locales/id-ID.yml
Labels: none

chore: Translated using Weblate (Italian)
  locales/it-IT.yml
Labels: none

chore: Translated using Weblate (Japanese (Kansai))
  locales/ja-KS.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

chore: Translated using Weblate (Swedish)
  locales/sv-SE.yml
Labels: none

chore: Translated using Weblate (Turkish)
  locales/tr-TR.yml
Labels: none

chore: Translated using Weblate (Chinese (Simplified))
  locales/zh-CN.yml
Labels: none

chore: Translated using Weblate (Korean)
  locales/ko-KR.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

chore: Translated using Weblate (Norwegian Bokmål)
  locales/no-NO.yml
Labels: none

Revert "use Node.js v20.5 for testing (should be reverted in the future) "
  .gitlab-ci.yml
Labels: none

Revert "Merge branch 'fix/set-node-version-in-dockerfile' into 'develop'"
  Dockerfile
Labels: none

chore: Translated using Weblate (Japanese (Kansai))
  locales/ja-KS.yml
Labels: none

feat: sticky drive header This makes it easy to get files out of a folder to the parent directory.
  packages/client/src/components/MkDrive.vue
Labels: packages/client

fix?: speakAsCat not being federated
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/remote/activitypub/renderer/person.ts
Labels: packages/backend

chore: round down elapsed time
  packages/client/src/components/global/MkTime.vue
Labels: packages/client

better locale merge fixes some problems including https://ddoskey.com/notes/9jikq12rmqfv27rh as usual, users may need to clear the browser cache
  locales/index.js
Labels: none

Delete outdated locales/README.md
  locales/README.md
Labels: none

indicate breaking changes in api-change.md
  docs/api-change.md
Labels: none

/share page doesn't wrap title in brackets
  packages/client/src/pages/share.vue
Labels: packages/client

fix: "show replies in timeline" refactoring was not backward compatible
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/recommended-timeline.ts
Labels: packages/backend

feat: open server info by clicking the ticker
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/components/MkNoteHeader.vue
Labels: packages/client

make it toggleable
  locales/en-US.yml
  locales/ja-JP.yml
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/pages/settings/preferences-backups.vue
  packages/client/src/store.ts
Labels: packages/client

chore: Translated using Weblate (German)
  locales/de-DE.yml
Labels: none

chore: Translated using Weblate (Indonesian)
  locales/id-ID.yml
Labels: none

chore: Translated using Weblate (Japanese (Kansai))
  locales/ja-KS.yml
Labels: none

chore: Translated using Weblate (Japanese)
  locales/ja-JP.yml
Labels: none

chore: Translated using Weblate (Turkish)
  locales/tr-TR.yml
Labels: none

chore: Translated using Weblate (Galician)
  locales/gl.yml
Labels: none

chore: Translated using Weblate (Chinese (Traditional))
  locales/zh-TW.yml
Labels: none

chore: Translated using Weblate (Bulgarian (bul_BG))
  locales/bul_BG.yml
Labels: none

feat: vibration
  locales/en-US.yml
  packages/client/src/components/MkButton.vue
  packages/client/src/components/MkEmojiPicker.vue
  packages/client/src/components/MkFolder.vue
  packages/client/src/components/MkFollowButton.vue
  packages/client/src/components/MkMenu.vue
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSub.vue
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/MkReactionsViewer.reaction.vue
  packages/client/src/components/MkRenoteButton.vue
  packages/client/src/components/MkStarButton.vue
  packages/client/src/components/MkStarButtonNoEmoji.vue
  packages/client/src/components/global/MkPageHeader.vue
  packages/client/src/directives/index.ts
  packages/client/src/directives/vibrate.ts
  packages/client/src/pages/auth.vue
  packages/client/src/pages/messaging/messaging-room.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/pages/settings/preferences-backups.vue
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/scripts/please-login.ts
  packages/client/src/scripts/vibrate.ts
  packages/client/src/store.ts
  packages/client/src/ui/universal.vue
Labels: packages/client

dev13
  package.json
  pnpm-lock.yaml
Labels: none

add vibration to new post button
  packages/client/src/ui/universal.vue
Labels: packages/client

Fix swcrc update changing name
  packages/backend/.swcrc
Labels: packages/backend

fix: missed swc file in packages/sw
  packages/sw/.swcrc
Labels: packages/sw

fix: Revert swc version
  packages/backend/.swcrc
  packages/backend/package.json
  packages/firefish-js/package.json
  packages/sw/.swcrc
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/sw, packages/firefish-js

Revert "fix: Revert swc version"
  packages/backend/.swcrc
  packages/backend/package.json
  packages/firefish-js/package.json
  packages/sw/.swcrc
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/sw, packages/firefish-js

pin swc version in package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  packages/sw/package.json
Labels: packages/backend, packages/sw, packages/firefish-js

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/client':
- packages/client/**/*

'packages/sw':
- packages/sw/**/*

'packages/firefish-js':
- packages/firefish-js/**/*

'packages/firefish-js:test':
- packages/firefish-js/test/**/*
- packages/firefish-js/test-d/**/*

'packages/megalodon':
- packages/megalodon/**/*

'packages/megalodon:test':
- packages/megalodon/test/**/*
